.card {
  width: 400px;
  border: none;
  border-radius: 10px;

  background-color: #fff;
}

.articles {
  font-size: 10px;
  color: #a1aab9;
}
.number1 {
  font-weight: 500;
}
.followers {
  font-size: 10px;
  color: #a1aab9;
}
.number2 {
  font-weight: 500;
}
.rating {
  font-size: 10px;
  color: #a1aab9;
}
.number3 {
  font-weight: 500;
}

/* 

*/

.image {
  margin: 10px;
}

.body {
  display: flex;
  align-items: center;
}

.stats {
  font: inherit;
  border: none;
  background-color: #8a2b06;
  color: white;
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  border-radius: 25px;
  margin-right: 7px;
}

.stats-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.stats-item-title {
  font-weight: bold;
}

.name {
  margin-bottom: 0;
  margin-top: 0;
}

.body-left {
  width: 100%;
}

.buttons {
  margin-top: 2px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.actions {
  margin-top: 10px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #8a2b06;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: #5a1a01;
  border-color: #5a1a01;
  color: white;
}

.actions .button--alt {
  color: #8a2b06;
}

.actions .button {
  background-color: #8a2b06;
  color: white;
}

.spinner {
  width: 100%;
  min-height: 200px;
}

.spinner-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buttons a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* .header a:hover {
  color: #c291e2;
} */
